	@charset "utf-8";html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, j5, j6, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ul, li,
	fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:bottom;}
	j4{margin:0px;padding:0px;font-family:Georgia, "Times New Roman", Times, serif;font-size:15px;text-transform:capitalize;}
	body{font:normal 12px/1.5 Arial, Helvetica, sans-serif;background-color:#ffffff;width:100%;color:#222;}
	a{text-decoration:none;color:#009;}
	a:active{outline:none;}
	j5{font-weight:normal;font-family:Georgia, "Times New Roman", Times, serif;font-size:30px;}
	h1{font-weight:normal;font-family:Georgia, "Times New Roman", Times, serif;font-size:30px;}
	j6{font:bold 20px Georgia, "Times New Roman", Times, serif;font-weight:normal;margin-bottom:15px;}
	h2{font:bold 20px Georgia, "Times New Roman", Times, serif;font-weight:normal;margin-bottom:15px;}
	img{border:0px;}
#ftrSearchField {vertical-align: top;}
.fom-sections input { width: 100%;border: solid 2px #ddd;border-radius: 2px;height: 30px;}
	td{vertical-align:top;}
.form-parts {width: 79%;background: #f7f7f7;}
	a:hover{text-decoration:underline;color:#00F;}
	#hdr{height:107px;border-top:3px solid #000;border-bottom:7px solid #D2DCE2;margin-bottom:15px;background: #003342;}
	.newsHdr #ctl00_cphBody_newsletter_signupHeader {color: #fff;font-family: Arial, Helvetica, sans-serif;font-size: 17px;margin: 0px;}
.form-parts h6 {background: rgb(0, 108, 158);text-align: center;padding: 10px;color: #fff;text-transform: uppercase;
font-size: 17px;margin-bottom: 13px;}
.fom-sections label {display: inline-block;width: 58%;font-size: 17px;font-weight: bold;}
.fom-sections {width: 94%;margin: 10px 13px;}
.fom-sections textarea {border: solid 2px #ddd;border-radius: 3px;width: 100%;}
#submit {background: rgb(0, 108, 158);border: solid 1px rgb(0, 108, 158);color: #fff;text-align: center;width: 95%;
margin-bottom: 13px;padding-top: 12px;padding-bottom: 12px;font-size: 18px;text-transform: uppercase;border-radius: 4px;cursor: pointer;}
.fom-btns {text-align: center;}
	#hdr h1 span{display:block;_display:none;text-indent:-9999px;height:0;width:0;}
	#hdrInner{display:block;margin:0 auto;width:1100px;position:relative;}
	#hdrLogo{position:absolute;top:22px;left:20px;}
	#hdrDate{position:absolute;top:0;left:250px;text-align:center;font:normal 17px Georgia, "Times New Roman", Times, serif;width:241px;height:25px;color:#e8e9ec;margin-left:95px;}
	#hdrSearchBox{position:absolute;top:0;right:20px;width:288px;height:28px;}
	#hdrSearchOptions{color:#fff;font:normal 10px Arial, Helvetica, sans-serif;margin:3px 0px 7px 20px;}
	#hdrSearchOptions input{margin-right:10px;}
	#hdrSearchField input{border:medium none;padding:4px;width:192px;float:left;background: #003342;}
	#hdrSearchBtn{padding:0px;}
	#hdrTopNav{position:absolute;top:82px;text-align:center;font-size:13px;}
	#hdrTopNav a{color:#fff;}
	#hdrTopNav a:hover{text-decoration:none;}
	#hdrTopNav ul{list-style:none;}
	#hdrTopNav ul li{float:left;position:relative;z-index:10;}
	#hdrTopNav ul li a{padding:1px 26px 1px 26px;}
	#hdrTopNav li.backLava{background-color:#fff;filter:alpha(opacity=15);-moz-opacity:0.15;-khtml-opacity:0.15;opacity:0.15;}
	#main{width:1100px;margin:0 auto;}
	#ftr{background-color:#000;position:relative;margin-top:15px;}
	#ftrBar{height:12px;}
	#ftrInner{width:950px;margin:20px auto 0px;position:relative;padding-bottom:25px;padding-top: 30px;}
	#ftrInner ul{list-style:none;}
	#ftrInner a{color:#fff;}
	#ftrInner h2{color:#bbb;font:bold 14px Arial, Helvetica, sans-serif;display:block;border-bottom:1px solid #333;padding-bottom:5px;margin-bottom:5px;}
	#ftrInner j6{color:#bbb;font:bold 14px Arial, Helvetica, sans-serif;display:block;border-bottom:1px solid #333;padding-bottom:5px;margin-bottom:5px;}
	#ftrPop{width:310px;}
	#ftrCat{width:200px;position:absolute;left:340px;top:0px;}
	#ftrCat ul{padding-right:16px;}
	#ftrMore{width:125px;position:absolute;left:570px;top:0px;}
        #ftrMore {width: auto;position: static;left: 570px;top: 0px;display: inline-block;}
	#ftrSearchBox{position:absolute;top:0;right:0;width:212px;}
        #ftrSearchBox {position: static;top: 0;right: 0;width: 212px;display: inline-block;float: right;}
        #ftrMore h6 { font-size: 16px; color: #fff; padding-bottom: 6px;}
	#ftrSearchOptions{color:#fff;font:normal 10px Arial, Helvetica, sans-serif;margin:0px 0px 10px 20px;}
	#ftrSearchOptions input{margin-right:10px;}
	#ftrSearchField input{border:medium none;padding:6px;width:170px;float:left;}
	#ftrSearchBtn{float:right;}
	#ftrLogo{position:absolute;bottom:25px;right:0px;text-align:right;color:#666;}
	.shadow{-moz-box-shadow:2px 2px 3px 1px #C3CDD1;-webkit-box-shadow:2px 2px 3px 1px #C3CDD1;box-shadow:2px 2px 3px 1px #C3CDD1;}
	.linkArrow{display:inline-block;padding-right:20px;color:#C00;}
	.author-block{padding:15px 15px 5px;border:1px solid #dadada;overflow:hidden;}
	.author-block a#photo-of-author{float:left;margin:0 10px 10px 0;max-height:100px;overflow:hidden;display:block;}
	.author-block k2{font-size:12px;text-transform:uppercase;color:#333;margin-bottom:10px;}
	.author-block k2 a{font-size:12px;text-transform:none;}
	.author-block img,.single .author-block img{max-width:75px;float:left;}
	.author-block p{line-height:130%;margin:0 0 10px;color:#333;}
	#comment_area{width:520px;}
	#comment_area k2{margin:0pt;padding:3px 0pt;font-family:Georgia,"Times New Roman",Times,serif;font-size:24px;font-weight:normal;text-align:left;text-transform:none;}
	#comment_item{border-left:5px solid rgb(0, 108, 158);padding:10px;background-color:rgb(237, 237, 237);font-size:12px;margin-bottom:10px;margin-top:10px;position:relative;width:555px;}
	#comment_item k2{margin:0pt;padding:0pt 0pt 2px;color:rgb(1, 13, 55);font-family:Georgia,"Times New Roman",Times,serif;font-size:18px;font-weight:normal;text-align:left;text-transform:none;}
	.hedder{text-align:center;vertical-align:bottom;height:60px;}
	#aspnetForm #hdr #hdrInner #hdrDate{font-family:Georgia, "Times New Roman", Times, serif;font-size:14px;}


	/*********************article.css**********************/

	@charset "utf-8";form{background:#fff;}
	#main{overflow:auto;}
	#content{float:left;width:730px;margin-right:30px;font-size:14px;line-height:1.6;}
	#content h1{margin:10px 0px;}
	#content a{color:#009;}
	#content h2{font-family:Georgia, "Times New Roman", Times, serif;margin-bottom:10px;}
	#content h3{font-weight:normal;}
	#content ul{list-style:disc;padding:0px 0px 0px 20px;}
	#content li{list-style-position:outside;margin-bottom:2px;}
	.articleImage{float:left;width:185px;margin-right:10px;margin-bottom:10px;margin-left:0px;}
	#ctl00_cphBody_imgArticlePhoto{}
	#ctl00_cphBody_lblCaption{padding:3px 6px;margin-top:4px;display:block;background-color:#f0f0f0;font-size:12px;}
	#pnlBottomLink{}
	#pnlFooter{margin-top:10px;color:#666;}
	#ctl00_cphBody_pnlSponsoredByBottom, #ctl00_cphBody_pnlSponsoredByTop{text-align:center;color:#666;border-top:1px solid #ccc;border-bottom:1px solid #ccc;padding:5px;margin:15px 0px;font-size:12px;background-color:#f0f0f0;}
	#pnlSponsoredByBottom a{color:#666;text-decoration:underline;}
	#toolbar{padding:3px 0px 3px 6px;background-color:#183348;font-size:12px;color:#fff;height:16px;}
	#tbDate{display:block;float:left;width:350px;line-height:1.3;}
	#toolbar .addthis_toolbox{width:108px;float:right;}
	#toolbar a{margin-left:0px;}
	#sidebar{float:left;width:315px;}
	.news{height:140px;}
	#ctl00_cphBody_pnlAd{width:300px;overflow:hidden;}
	#ctl00_cphBody_pnlAd, #ctl00_cphBody_pnlAdSense, .RAStyleSimple, .news, #searchTopics{margin-bottom:20px;}
	#searchTopics{width:300px;float:left;}
	#searchTopics td{width:50%;}
	#searchTopics ul{display:inline-block;list-style:none;padding:0px 30px 0px 0px;}
	#searchTopics li{margin-bottom:6px;}
	#sidebar image{text-align:center;}


	/******************************newsletter.signup*********************************/

	@charset "utf-8";
	/* Newsletter Signup Styles */

	.news {
		background:#004578;
		padding:10px 0px 0px 15px;
		position:relative;
	}

	.newsHdr {
		padding-right:72px;
	}

	.newsHdr h2 {
		color:#fff;
		margin-bottom:0px;
	}

	.newsBdy input {
		margin:12px 10px 0px 0px;
	}

	input.newsEmail {
		float:left;
		width:160px;
	}

	input.newsSubBtn {
		float:right;
	}

	.newsFtr {
		clear:both;
		color:#fff;
		font-size:11px;
		position:absolute;
		bottom:7px;
		left:10px;
		line-height:1.2;
	}

	.newsFtr a {
		text-decoration:underline;
		color:#fff;
	}

	.newsFtr h3 {
		float:left;
		font-size:12px;
		font-weight:bold;
		margin:0px 10px 10px 0px;
		background-color:Transparent;
		border:0px;
		padding:0px;
		color:#fff;
	}


	/* Overlay */
	#simplemodal-overlay {background-color:#fff; cursor:wait;}

	/* Container */
	#simplemodal-container {height:300px; width:400px; color:#333; background-color:#fff; border:10px solid #eee; padding:12px;  text-align:left;}
	#simplemodal-close {float:right; width:43px; margin-top:3px;}
	#simplemodal-close a 
	{
		color:#01A5B9; 
		padding:2px 4px; 
	}
	#simplemodal-container #basic-modal-content {padding:8px; text-align:left;}

	/*Text */
	#simplemodal-container h1
	{
		display:block;
		font:18px Georgia,"Times New Roman",Times,serif;
		margin-top:0px;
	}

	/********************************************Moneyrate.css*****************************/
	#moneyRates
	{
		font-family:Arial;
		font-size:12px;
	}

	#moneyRates ul
	{
		list-style:none;
		margin-left:0px;
		padding-left:0px;
	}

	#moneyRates td
	{
		vertical-align:top;
	}

	#moneyRates img
	{
		border:0px;
	}

	#moneyRates #filterL
	{
		width:7px;
		height:80px;	
		background: #fff url(../filterlcap.html) no-repeat 0 0;
	} 
	#moneyRates #filterC
	{
		background: #fff url(../filterbg.html) repeat-x 0 0;
		padding:0px 10px;
		width:620px;
		
	} 

	#moneyRates #filterR
	{
		width:7px;
		height:80px;	
		background: #fff url(../filterrcap.html) no-repeat 0 0;
	} 

	#moneyRates #filterC .title
	{
		color:#fff;
		font-size:18px;
		font-weight:bold;
		margin:6px 0px 15px 0px;
	}

	#moneyRates #filterC select
	{
		margin-right:15px;
	}


	/**********************/

	#moneyRates #gv
	{
		width:582px;
		margin-top:15px;
	}

	#moneyRates #gv td
	{
		padding:15px 5px;
	}


	#moneyRates #gv tr
	{
		border-bottom:1px solid #ccc;
	}


	#moneyRates .header
	{
		border-bottom:1px solid #999999;
		text-align:left;
		vertical-align:bottom;
	}

	#moneyRates .details
	{
		font-size:10px;
	}

	#moneyRates a
	{
		color:#ff6600;
		text-decoration:none;
	}

	#moneyRates a:hover
	{
		text-decoration:underline;
	}
		
	#moneyRates .btn
	{
		display:block;
		margin:10px 0px;
	}

	#moneyRates .callNow
	{
		font-weight:bold;
	}

	#moneyRates .pNbr
	{
		display:none;
		font-weight:bold;
		font-size:13px;
	}

	#moneyRates .smallGrey
	{
		font-size:10px;
		color:#999;
	}


	/**************************************mortgagerate.css************************************/

	#MortgageRates
	{
		font-family:Arial;
		font-size:12px;
	}
	#MortgageRates ul
	{
		list-style:none;
		margin-left:0px;
		padding:0px;
		background-color:transparent;
	}

	#MortgageRates td
	{
		vertical-align:top;
	}

	#MortgageRates img
	{
		border:0px;
	}

	#MortgageRates #filterL
	{
		width:8px;
		height:80px;	
		background: #fff url(../filterlcap.html) no-repeat 0 0;
	} 
	#MortgageRates #filterC
	{
		background: #fff url(../filterbg.html) repeat-x 0 0;
		padding:0px 10px;
		width:620px;
		
	} 

	#MortgageRates #filterR
	{
		width:8px;
		height:80px;	
		background: #fff url(../filterrcap.html) no-repeat 0 0;
	} 

	#MortgageRates #filterC .title
	{
		color:#fff;
		font-size:18px;
		font-weight:bold;
		margin:6px 0px 15px 0px;
	}

	/**********************/

	#MortgageRates #gv
	{
		width:650px;
		margin-top:15px;
	}

	#MortgageRates #gv td
	{
		padding:15px 5px;
	}


	#MortgageRates #gv tr
	{
		border-bottom:1px solid #ccc;
	}


	#MortgageRates .header
	{
		border-bottom:1px solid #999999;
		text-align:left;
		vertical-align:bottom;
	}

	#MortgageRates .details
	{
		font-size:10px;
	}

	#MortgageRates a
	{
		color:#ff6600;
		text-decoration:none;
	}

	#MortgageRates a:hover
	{
		text-decoration:underline;
	}
		
	#MortgageRates .btn
	{
		display:block;
		margin:10px 0px;
	}

	#MortgageRates .callNow
	{
		font-weight:bold;
	}

	#MortgageRates .pNbr
	{
		display:none;
		font-weight:bold;
		font-size:13px;
	}

	#MortgageRates .smallGrey
	{
		font-size:10px;
		color:#999;
	}
#content .style74 a {
	font-size: 18px;
	font-weight: bold;
}.style46 {
	color: #990000;
}

	/***********************************************RA.css************************************/

	@charset "utf-8";.RABdy{}
	.RABdy td img{float:left;margin:3px 10px 3px 3px;border:1px solid #aaa;}
	.RAStyleHome h2{background:#102043 url(../sectionheaderbg.html) repeat-x 0 0;color:#fff;height:22px;padding:6px 12px;margin:1px;font:normal 17px Georgia, "Times New Roman", Times, serif;border-bottom:1px solid #fff;}
	.RAStyleHome table{width:100%;}
	.RAStyleHome .RABdy{background:#fff url(../grad1.html) repeat-x right 0;font-size:13px;margin:4px 0px 4px 0px;}
	.RAStyleHome .RABdy td{border-bottom:1px solid #ccc;padding:2px 8px 2px 2px;}
	.RAStyleHome .RABdy td.last{border-bottom:none;}
	.RAStyleHome .RABdy td img{margin:3px 15px 2px 3px;width:140px;height:95px;}
	.RAStyleHome .RACat{margin-top:5px;font-weight:bold;}
	.RAStyleSimple img{width:140px;height:95px;}
	.RAStyleSimple h2{margin-bottom:10px;}
	.RAStyleSimple .RABdy{font-size:13px;margin:4px 0px 0px 0px;}
	.RAStyleSimple .RABdy td{padding:5px 2px;}
	.RAStyleSimple.uline .RABdy td{border-bottom:1px solid #ccc;}
	.RAStyleSimple.uline .RABdy td.last{border-bottom:none;}
	.RAStyleSimple .RABdy td img{margin:3px 15px 2px 3px;}
	.RAStyleSimple.nocat .RACat{display:none;}
	.RAStyleSimple img{width:60px;height:40px;}
	.RAStyleSimple.md img{width:99px;height:auto;}
	.RAStyleSimple.lg img{width:144px;height:96px;}
.work-at-home {margin: 3px;padding: 8px;width: 290px;font-size: 12px;background: none repeat scroll 0% 0% rgb(241, 241, 241);color: rgb(51, 51, 51);border: 2px solid rgb(225, 225, 225);}
#hdrSearchField input {background: #164b5b;color: #fff;border: solid 1px #3f6a78;}

	@media screen and (max-width: 1080px){#hdrInner {width: 100%;}#main {width: 97%;}#sidebar {width: 32%;display: inline-block;}#content {width: 65%;}}
	@media screen and (max-width: 1024px){#hdrSearchField input {color: #000;
}.style67 img {width: 100%;}#content {width: 64%;margin-right: 10px;padding-left: 16px;}#content a {font-size: 21px;font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;}#main {overflow: visible;display: inline-block;}}
	@media screen and (max-width: 960px){#content .gray_text a {font-weight: normal;font-size: 14px;}
#ftrSearchOptions {color: #fff;font: normal 10px Arial, Helvetica, sans-serif;margin: 0px 0px 10px 0px;}
#ftrSearchField input {padding: 5.5px 6px;}
#ftrInner {width: 93%;margin: 20px auto 0px;position: relative;padding-bottom: 25px;padding-top: 30px;}.news {padding: 10px 0px 15px 15px;height: auto;}
.newsFtr {position: static;}#ctl00_cphBody_newsletter_RegularExpressionValidator1 {display: none;}
.work-at-home {width: 100%;}
}
@media screen and (max-width: 860px){
	#hdrDate {
	margin-left: 0px;
}
	#hdrLogo img {
	width: 82%;
}
#searchTopics {
	width: 100%;
	float: left;
}
}
	@media screen and (max-width: 767px){#content #comment_item a {font-size: 14px; font-weight: normal;line-height: 17px;
}#ftrMore {width: 100%;position: static;text-align: center;padding-bottom: 12px;}.work-at-home {margin: 0px;width: 93%;}#hdrLogo {position: static;display: inline-block;width: 100%;text-align: center;padding-top: 3px;}#hdrDate {position: static;text-align: center;width: 100%;margin-left: 0px;padding-top: 11px;}#ftrSearchBtn {float: none;display: inline-block;}#hdrSearchBox {position: static;display: inline-block;width: 100%;text-align: center;}#hdrSearchOptions {
	color: #fff;font: normal 10px Arial, Helvetica, sans-serif;margin: 3px 0px 7px 0px;display: inline-block;text-align: center;width: 97%;}#hdrSearchField {display: inline-block;}#hdrSearchField input {background: #fff;
	display: inline-block;}#hdrSearchBtn {padding: 0px;text-align: center;display: inline-block;}#hdrInner p {margin: 0px;}#hdr { height: auto;border-bottom: 54px solid #003342;}#ftrSearchBox {position: static;width: 100%;text-align: center;}#ftrSearchField {display: inline-block;}#ftrInner {width: 100%;margin: 20px auto 0px;
	position: relative;padding-bottom: 25px;}}
	@media screen and (max-width: 767px){#content {width: 100%;margin: 0px;float: none;}#sidebar {width: 100%;display: inline-block;}#comment_item {width: 97%;}.style67 img {width: 100%;height: auto;}#hdrLogo img {width: 100%;}#comment-form {width: 100%;}#ftrCat {display: none;}}
	@media screen and (max-width: 767px){
#content .top-text {
    margin: 0px;
    line-height: 30px;
    display: inline-block;
}
#hdr {
    margin-bottom: 6px;
}
#content h1 a {
 font-size: 17px;
    display: inline-block;
    line-height: 27px;
}#toolbar {
	display: none;
}#hdr {height: auto;border-bottom: 12px solid #003342;}#hdrDate {display: none;}#hdrSearchBox {display: none;}}
	@media screen and (max-width: 568px){#ftr { display: inline-block; width: 100%;}#content {padding-left: 0px;width: 99%;margin: 0px;float: none;}#main {display: block;}#ftrPop {width: 310px;display: none;}#tbDate {width: 100%;}#comment_item {width: 92%;}.newsHdr {
	padding-right: 0px;}#ctl00_cphBody_newsletter_signupHeader {color: #fff;font-family: Arial, Helvetica, sans-serif;font-size: 18px;padding: 0px;display: inline-block;width: 100%;margin: 0px;text-align: center;}#ftrInner {
	width: 100%;
	margin: 0px auto 0px;
	position: relative;
	padding-bottom: 25px;
	display: inline-block;
}.fom-sections {
	width: 94%;
	margin: 10px 6px;
}.form-parts {
	width: 100%;
	background: #f7f7f7;
}#hdrSearchField {
	vertical-align: top;
}#content .top-text {
    margin: 0px;
    line-height: 30px;
    display: inline-block;
}}


